.products
    h1.main__title.products__title Техническое описание и различия по классам наших изделий
    img(src='assets/images/icon/close.svg').products__close
    .products__view
        .products__view--wrap.products__view--bg1
            p Эконом
            img(src='assets/images/table/1.jpg')
            img(src='assets/images/table/1-1.jpg')
        .products__view--wrap.products__view--bg2
            p Стандарт
            img(src='assets/images/table/2.jpg')
            img(src='assets/images/table/2-1.jpg')
        .products__view--wrap.products__view--bg3
            p Премиум
            img(src='assets/images/table/3.jpg')
            img(src='assets/images/table/3-1.jpg')
    .products-list__head
        p.main__title.products__title Материалы и оборудование
        span Эконом
        span Стандарт
        span Премиум
    ul.products-list__body
        li.products-list__body--bg
            .products-list__body--bg-1
            .products-list__body--bg-2
            .products-list__body--bg-3
        li.product
            .product__title
                p Фундамент:
            ul.product__elements
                li.product__elem
                    p.product__description Возводится силами заказчика по уровню. Рекомендуем обустроить ленточный фундамент (высота цоколя около 100мм).
                    span.product__value
                        include ../../../assets/images/icon/plus.svg
                    span.product__value
                        include ../../../assets/images/icon/plus.svg
                    span.product__value
                        include ../../../assets/images/icon/plus.svg
        li.product
            .product__title
                p Каркас:
            ul.product__elements
                li.product__elem
                    .product__description Стальная профильная труба 80х40х3,60х40х3,
                        span 40х20х2 и 60х40х2мм. Элементы каркаса свариваются электродуговой сваркой. Каркас имеет антикоррозионное покрытие (грунт ГФ-021).
                        .product__tooltip
                            include ../../../assets/images/icon/question.svg
                            .product__tooltip--text это грунт
                    span.product__value
                        include ../../../assets/images/icon/plus.svg
                    span.product__value
                        include ../../../assets/images/icon/plus.svg
                    span.product__value
                        include ../../../assets/images/icon/plus.svg
        li.product
            .product__title
                p Кровля:
            ul.product__elements
                li.product__elem
                    p.product__description Оцинкованный профнастил без покрытия "Рolyester". Кровля плоская, с небольшим скатом. У многомодульных зданий кровля общая, двускатная.
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                li.product__elem
                    p.product__description Оцинкованный профнастил с защитно-декоративным покрытием "Рolyester" (выбор цвета по каталогу RAL), Кровля скатная. У многомодульных зданий кровля общая, двускатная.
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                li.product__elem
                    p.product__description Оцинкованный профнастил без покрытия "Рolyester". Кровля плоская, с небольшим скатом. У многомодульных зданий кровля общая, двускатная.
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
        li.product
            .product__title
                p Потолок:
            ul.product__elements
                li.product__elem
                    p.product__description Гидробарьер, утеплитель - минеральная вата ISOVER 50мм (плотность 10кг/м3), деревянная обрешётка, паробарьер, белая пластиковая вагонка шириной 100мм.
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                li.product__elem
                    p.product__description Гидробарьер, утеплитель - минеральная вата ISOVER 100мм (10кг/м3), деревянная обрешётка, паробарьер, белая пластиковая вагонка шириной 100мм.
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                li.product__elem
                    p.product__description Гидробарьер, утеплитель - базальтовая вата Технониколь Роклайт 100мм (30кг/м3), деревянная обрешётка (обработана антисептиком от грибков и насекомых), паробарьер, белая бесшовная пластиковая вагонка шириной 250мм.
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
        li.product
            .product__title
                p Фасадные стены:
            ul.product__elements
                li.product__elem
                    p.product__description Оцинкованный профнастил ПР-15 без покрытия "Рolyester". Декоративные уголки, планки и нащельники с защитно-декоративным покрытием "Рolyester" (выбор цвета по каталогу RAL), гидробарьер, утеплитель - минеральная вата ISOVER 50мм (10кг/м3), деревянная обрешётка, паробарьер.
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                li.product__elem
                    p.product__description Оцинкованный профнастил с защитно-декоративным покрытием "Рolyester" (выбор цвета по каталогу RAL), декоративные уголки, планки и нащельники с защитно-декоративным покрытием "Рolyester" (выбор цвета по каталогу RAL), гидробарьер, утеплитель - базальтовая вата Технониколь Роклайт 100мм (30кг/м3), деревянная обрешётка, паробарьер.
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                li.product__elem
                    p.product__description Плита OSB 8мм, виниловый сайдинг (выбор цвета по каталогу). Декоративные уголки, планки и нащельники (выбор цвета по каталогу), гидробарьер, утеплитель - базальтовая вата Технониколь Роклайт 100мм (30кг/м3), (внутр. перегородки ISOVER 50мм), деревянная обрешётка (обработана антисептиком от грибков и насекомых), паробарьер.
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/minus.svg
                    span.product__value
                         include ../../../assets/images/icon/plus.svg
    p.products__text Все наши изделия условно разделены на три класса: "Эконом", "Стандарт" и "Премиум". Отличия для удобства выделены зеленым цветом.
    p.products__text Комплектация изделий строго по классам не обязательна, и согласовывается для каждого изделия индивидуально. Материалы наружной и внутренней отделки могут быть заменены на более подходящие для Заказчика.

