.footer-top
    .footer-top__logo
        +svg('Logo')
    .footer-top__quote
        .quote__content
            blockquote.quote__text Качество – это стремление делать все как можно лучше даже тогда, когда это никому не важно.
            .quote__author Генри Форд.
        .quote__img
            img(src='./assets/images/main/Henry_Ford.png' alt='photo' )