.container
	.row
		.footer__copy 
			p © Усі права захищено. Saga Apartments
		a(href='https://smarto.agency/' rel="nofollow" target="_blank").footer__link
			img(src='./assets/images/smarto.svg' alt="" title="")