.footer-middle
    .footer-middle__menu
        p.footer-middle__menu--title Меню
        ul.footer-menu
            each list in menu.about.nested
                if list.bottom
                    li.footer-menu__list
                        a("href"=list.href).footer-menu__list--item= list.name
            if menu.works.bottom
                li.footer-menu__list
                    a("href"=menu.works.href).footer-menu__list--item= menu.works.name
            each list in menu.infoCenter.nested
                if list.bottom
                    li.footer-menu__list
                        a("href"=list.href).footer-menu__list--item= list.name
            if menu.contact.bottom
                li.footer-menu__list
                    a("href"=menu.contact.href).footer-menu__list--item= menu.contact.name
    .footer-middle__line
    .footer-middle__catalog
        p.footer-middle__menu--title Каталог
        ul.footer-catalog
            each list in menu.catalog.nested
                if list.bottom
                    li.footer-catalog__list
                        a("href"=list.href).footer-catalog__list--item= list.name
    .footer-middle__line
    .footer-middle__contact
        p.footer-middle__menu--title Наши контакты
            ul.footer-contact.phone__list
                each list in contact
                    each el in list
                        if el.href
                            li.phone__list__tel
                                +svg( el.img , 'phone__list--icon')
                                a(href= el.href ).footer-contact__tel
                                    span= el.name
                        else
                            li.phone__list__tel
                                +svg( el.img , 'phone__list--icon')
                                if el.title
                                    span.footer-contact__tel= el.title
                                span.footer-contact__tel= el.name
    .footer-middle__icons
        a(href='viber://chat?number=+380950000000').first-screen__mobile--icon
            +svg('viber', 'first-screen__img' )
        a(href='https://telegram.me/').first-screen__mobile--icon
            +svg('telegram', 'first-screen__img' )
