a(href="/" class="logo")
	+svg('Logo')
	//img(src="./assets/images/logo.svg" alt="logo" title="")
ul.top-menu
	each list in menu
		if list.href
			if list.top
				li.top-menu__list.js-hover
					a("href"=list.href).top-menu__list--item= list.name
		else
			li.top-menu__list.js-hover
				div.top-menu__list--item= list.name
				ul.top-menu__nested(class=list.clas)
					each el in list.nested
						li.top-menu__nested--item
							a(href= el.href).top-menu__nested--link= el.name
				+svg( 'arrow' ,'top-menu__arrow')
				//img(src='./assets/images/icon/arrowDown.svg').top-menu__arrow
.top-menu__phone.js-hover
	.phone__list--arrow
		+svg('arrow','top-menu__arrow')
		//img(src='./assets/images/icon/arrowDown.svg' alt='arrow').top-menu__arrow
	ul.phone__list
		each tel in contact.phone
			li.phone__list__tel
				+svg( tel.img ,'phone__list--icon')
				//img(src='./assets/images/icon/' + tel.img + '.svg' alt=tel.img).phone__list--icon
				a(href= tel.href ).phone__list--number= tel.name
ul.lang-list
	li.lang-list__item
		a(href='#') Ru
	li.lang-list__item.active
		a(href='#') Uk

button(type='button').burger.js-burger
	span.burger__line
	span.burger__line
	span.burger__line
