extends ../layout/main
block variable

block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/index.js')
block content
    section.ct-group
        h1.main__title.ct-group__title Дачные домики
        include includes/breadcrumb
        .ct-group__first-screen
            .ct-group__first-screen--description
                .ct-group__first-screen--title Дачные домики
                p Дачный домик на базе вагончика любой планировки от 5 000 грн/кв. м.
                a(href='#').button-xl.ct-group__first-screen--button Расчитать свой проект
            .ct-group__first-screen--bg
        ul.ct-group__list
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
            li.ct-group__element
                a.ct-group__element--link
                    .ct-group__list--title Дачный домик ДДМ1
                    .ct-group__list--img
                        img(src='assets/images/product/Rectangle2.jpg')
                        img(src='assets/images/product/Rectangle2-back.jpg').ct-group__list--hover
                    .ct-group__list--text.ct-group__dimensions
                        span.text--bold Габариты Д/Ш:
                        |от 6х5м до 9х6м
                    .ct-group__list--text.ct-group__area
                        span.text--bold Площадь:
                        |45 м2
                    .ct-group__list--text.ct-group__price
                        span.text--bold Стоимость:
                        |от 185000 грн.
        //include includes/pagination
        p.main__title.ct-group__title.marg--title Не подошли наши типовые планировки?
        a(href='#').button-xl Расчитать свой проект
    section.ct-desc
        .ct-desc--wrap
            .ct-desc__content
                p.ct-desc__title Дачные домики: комфорт и надежность бывают доступными!
                p Представьте дачный домик, который собирается, как детский конструктор, и его можно перевозить с собой. Такие дома собираются за 10-15 дней, а установка на участке занимает всего несколько часов. Внутри такой домик оборудован всем необходимым для жизни – любители комфорта и эстетики будут полностью удовлетворены!
            .ct-desc__img
                img(src='./assets/images/product/image1.jpg')
            .ct-desc__img
                img(src='./assets/images/product/image2.jpg')
            .ct-desc__content
                p.ct-desc__title Дачные домики: комфорт и надежность бывают доступными!
                p Представьте дачный домик, который собирается, как детский конструктор, и его можно перевозить с собой. Такие дома собираются за 10-15 дней, а установка на участке занимает всего несколько часов. Внутри такой домик оборудован всем необходимым для жизни – любители комфорта и эстетики будут полностью удовлетворены!
            p.ct-desc__title.grid-col-2 Каркасные дачные дома: преимущества очевидны!
            .ct-desc__img.grid-col-2
                img(src='./assets/images/product/image3.jpg')
            .ct-desc__content
                p.ct-desc__title Фундамент? Легко!
                p Прочный и долговечный металлический каркас устанавливается на простом фундаменте из блоков или винтовых сваях, что особенно актуально для земель с запретом на строительство.
            .ct-desc__content.grid-row-2
                p.ct-desc__title Идеальный фасад.
                p Снаружи каркас обшивается профнастилом с полимерным покрытием или виниловым сайдингом. Эти материалы устойчивы к коррозии и воздействию атмосферных осадков, не нуждаются в уходе и придают зданию эстетичный и элегантный вид. На страницах нашего сайта вы найдете разнообразные проекты, а фото дачных домиков возведенных нашими специалистами можно посмотреть в галерее.
            .ct-desc__content
                p.ct-desc__title Тепло, тихо, сухо.
                p Дачный домик утепляется экологически чистой минеральной ватой, которая не только сохраняет тепло в помещениях, но и защищает жилище от влаги, огня и шума. Дополнительный паро- и гидроизоляционный барьер усиливает действие утеплителей.
            .ct-desc__img
                img(src='./assets/images/product/image4.jpg')
            .ct-desc__img
                img(src='./assets/images/product/image5.jpg')
            .ct-desc__content
                p.ct-desc__title Стильный интерьер и «начинка»
                p Внутри ваша новая «крепость» отделывается бесшовной пластиковой вагонкой или вагонкой МДФ, а пол покрывается линолеумом. В доме можно установить сантехническое и отопительное оборудование, кондиционер, спутниковую антенну и другие инженерные коммуникации.
            .ct-desc__img
                img(src='./assets/images/product/image6.jpg')
            p.ct-desc__title.grid-col-2 Знаете, чем выгодно строительство дачных домов из готовых блок-модулей?
            ul.ct-desc__list
                li Такие дома не нуждаются в разрешении на строительство.
                li Вы выбираете любую внешнюю и внутреннюю отделку, планировку и размеры.
                li В дачном домике комфортно жить зимой и летом.
                li Садовый домик устанавливается на участке в любое время года за рекордно маленький срок - всего 10-15 дней.
                li Собственный щитовой загородный дом, готовый стать надежной крепостью, вы можете приобрести практически за символическую цену – от 3000 гривен за м2 с возможностью рассрочки.
            .ct-desc__content
                p Если вы желаете купить дачный домик в Киеве или другом городе Украины – покупайте у нас! В наличии дачные дома разных комплектаций, каждая из которых обладает своими особенностями. Мобильный загородный домик от компании «БлокМодуль» - это уникальная возможность решить жилищную проблему и обеспечить себя комфортом не только во время дачной поры.


block footer
    footer.footer
        include ../includes/footer-top
        include ../includes/footer-middle
        include ../includes/footer-bottom

block header
    header.header
        include ../includes/header.pug