extends ../layout/main
block variable

block meta
    title= 'Contact'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/index.js')
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrUcTar2ARlRKSogEQVIlWaPnmVIM_xVE&callback=initMap")

block content
    section.faq
        h1.main__title.faq__title Вопрос-ответ
        include includes/breadcrumb
        ul.faq__list.js-drop
            li.faq__drop
                .drop__head
                    p Какой порядок документального оформления и форма оплаты?
                    +svg('arrow', 'drop__arrow')
                .drop__text Составляется договор купли-продажи, с описанием изделия и четко обозначенными сроками поставки,  помимо договора покупателю выдается кассовый ордер, на основании которого производится платеж. В случае безналичного расчета выписывается счет-фактура. Стандартная предоплата составляет 80% от общей стоимости изделия. Возможен как наличный, так и безналичный расчет. Если покупателю по каким-либо причинам неудобно явиться для подписания договора в наш киевский офис, скан копии всех документов передаются по электронной почте, а оригиналы отправляются по почте. По завершении  поставки и монтажа изделия, подписывается акт приемки-передачи, уплачиваются оставшиеся 20% от договорной стоимости, покупателю выдается технический паспорт на изделие.

            li.faq__drop
                .drop__head
                    p Актуальны ли цены в прайсе?
                    +svg('arrow', 'drop__arrow')
                .drop__text В связи с колебанием цен на материалы цены просьба уточнять.

            li.faq__drop
                .drop__head
                    p Что входит в цену, указанную в прайсе?
                    +svg('arrow', 'drop__arrow')
                .drop__text Составляется договор купли-продажи, с описанием изделия и четко обозначенными сроками поставки, Стандартная предоплата составляет 80% от общей стоимости изделия. Возможен как наличный, так и безналичный расчет. Если покупателю по каким-либо причинам неудобно явиться для подписания договора в наш киевский офис, скан копии всех документов передаются по электронной почте, а оригиналы отправляются по почте. По завершении  поставки и монтажа изделия, подписывается акт приемки-передачи, уплачиваются оставшиеся 20% от договорной стоимости, покупателю выдается технический паспорт на изделие.

            li.faq__drop
                .drop__head
                    p Возможны ли скидки в случае крупных заказов?
                    +svg('arrow', 'drop__arrow')
                .drop__text В случае безналичного расчета выписывается счет-фактура. Стандартная предоплата составляет 80% от общей стоимости изделия. Возможен как наличный, так и безналичный расчет. Если покупателю по каким-либо причинам неудобно явиться для подписания договора в наш киевский офис, скан копии всех документов передаются по электронной почте, а оригиналы отправляются по почте. По завершении  поставки и монтажа изделия, подписывается акт приемки-передачи, уплачиваются оставшиеся 20% от договорной стоимости, покупателю выдается технический паспорт на изделие.

            li.faq__drop
                .drop__head
                    p Какой порядок документального оформления и форма оплаты?
                    +svg('arrow', 'drop__arrow')
                .drop__text Составляется договор купли-продажи, с описанием изделия и четко обозначенными сроками поставки,  помимо договора покупателю выдается кассовый ордер, на основании которого производится платеж. В случае безналичного расчета выписывается счет-фактура. Стандартная предоплата составляет 80% от общей стоимости изделия. Возможен как наличный, так и безналичный расчет. Если покупателю по каким-либо причинам неудобно явиться для подписания договора в наш киевский офис, скан копии всех документов передаются по электронной почте, а оригиналы отправляются по почте. По завершении  поставки и монтажа изделия, подписывается акт приемки-передачи, уплачиваются оставшиеся 20% от договорной стоимости, покупателю выдается технический паспорт на изделие.

            li.faq__drop
                .drop__head
                    p Какой порядок документального оформления и форма оплаты?
                    +svg('arrow', 'drop__arrow')
                .drop__text Составляется договор купли-продажи, с описанием изделия и четко обозначенными сроками поставки,  помимо договора покупателю выдается кассовый ордер, на основании которого производится платеж. В случае безналичного расчета выписывается счет-фактура. Стандартная предоплата составляет 80% от общей стоимости изделия. Возможен как наличный, так и безналичный расчет. Если покупателю по каким-либо причинам неудобно явиться для подписания договора в наш киевский офис, скан копии всех документов передаются по электронной почте, а оригиналы отправляются по почте. По завершении  поставки и монтажа изделия, подписывается акт приемки-передачи, уплачиваются оставшиеся 20% от договорной стоимости, покупателю выдается технический паспорт на изделие.

        form.form__project
            legend Остались вопросы?
            // обязательно
            input(type='text' placeholder='Имя:*').form__input
            span.form__info
            // обязательно
            input(type='tel' placeholder='Телефон:*').form__input
            span.form__info

            // обязательно
            input(type='email' placeholder='E-mail:*').form__input
            span.form__info

            // обязательно
            textarea(placeholder='Суть вопроса:*').form__input.form__input--big
            span.form__info

            label.form__file
                img(src='./assets/images/icon/attach.svg').form__file-img
                | Прикрепить файл
                span.form__file--description Для быстрого взаимопонимания - от Вас нужна планировка, можно от руки
                input(type='file' value='value')
            img(src='./assets/images/newCaptchaAnchor.gif').captcha

            button(type='submit' value='отправить').form__submit.button-xxxl отправить
            //input(type='submit' value='отправить').form__submit.button-xxxl



block footer
    footer.footer
        include ../includes/footer-top
        include ../includes/footer-middle
        include ../includes/footer-bottom

block header
    header.header
        include ../includes/header.pug