extends ../layout/main
block variable
	
block meta
	title= 'Home'
	meta(name='description', content='')
block head
		link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
	script(src='./assets/scripts/index.js')
block content
	section.main
		.first-screen
			a(href="#").first-screen__location
				img(src="./assets/images/icon/Map.svg").first-screen__location--img
			a(href="#").first-screen__mail
				img(src="./assets/images/icon/E-mail.svg").first-screen__mail--img
			.first-screen__mouse
				span.first-screen__mouse--text Смотреть сайт
				img(src="./assets/images/icon/mouse.svg").first-screen__mouse--img
			.first-screen__messages
				span.first-screen__messages--text Месседжеры
				a(href='#').first-screen__messages--viber
					img(src="./assets/images/icon/viber.svg").first-screen__img
				a(href='#').first-screen__messages--telegram
					img(src="./assets/images/icon/telegram.svg").first-screen__img
			.first-screen__slider
				.sl
					.sl__element
						img(src="./assets/images/main/slider/Rectangle1.jpg" alt='photo').sl__element--img
						.sl__element--content
							.sl__element--text Проектирование, производство и монтаж быстровозводимых зданий различного назначения
							.sl__element--title Реализованные проекты
					.sl__element
						img(src="./assets/images/main/slider/Rectangle1.jpg" alt='photo').sl__element--img
						.sl__element--content
							.sl__element--text Проектирование, производство и монтаж быстровозводимых зданий различного назначения
							.sl__element--title Реализованные проекты
					.sl__element
						img(src="./assets/images/main/slider/Rectangle1.jpg" alt='photo').sl__element--img
						.sl__element--content
							.sl__element--text Проектирование, производство и монтаж быстровозводимых зданий различного назначения
							.sl__element--title Реализованные проекты
					.sl__element
						img(src="./assets/images/main/slider/Rectangle1.jpg" alt='photo').sl__element--img
						.sl__element--content
							.sl__element--text Проектирование, производство и монтаж быстровозводимых зданий различного назначения
							.sl__element--title Реализованные проекты
				.sl__buttons
					button(type="button").sl__button.sl__button--left
					button(type="button").sl__button.sl__button--right

		.make
			h3.make__title.main__title Мы производим
			.make__gallery
				a(href='#').card.card-1
					.card__img
						img(src='./assets/images/main/make/angar.jpg' alt='angar')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Ангары
				a(href='#').card.card-2
					.card__img
						img(src='./assets/images/main/make/san-block.jpg' alt='Санитарные блоки')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Санитарные блоки
				a(href='#').card.card-3
					.card__img
						img(src='./assets/images/main/make/module-build.jpg' alt='Модульные здания')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Модульные здания
				a(href='#').card.card-4
					.card__img
						img(src='./assets/images/main/make/house.jpg' alt='house')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Дома: сборные, модульные, дачные
				a(href='#').card.card-5
					.card__img
						img(src='./assets/images/main/make/offices.jpg' alt='Модульные офисы')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Модульные офисы
				a(href='#').card.card-6
					.card__img
						img(src='./assets/images/main/make/security-post.jpg' alt='Посты охраны')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Посты охраны
				a(href='#').card.card-7
					.card__img
						img(src='./assets/images/main/make/trade-house.jpg' alt='trade-house')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Торговые павильоны
				a(href='#').card.card-8
					.card__img
						img(src='./assets/images/main/make/hotels.jpg' alt='hotels')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Общежития и отели
				a(href='#').card.card-9
					.card__img
						img(src='./assets/images/main/make/admin-house.jpg' alt='admin-house')
						.card__hover
							.card__hover--wrap
								img(src="./assets/images/logo-m.svg").card__hover--logo
								p.card__hover--text Смотреть объекты
					.card__desc Административно бытовые здания
			button(type='button').make__button Смотреть все категории
		.advantages
			p.advantages__title.main__title Почему именно мы
			.advantages__element
				.advant__img
					img(src='./assets/images/icon/Group.svg')
				.advant__content
					p.advant__title ОПЫТ
					ul.advant__list
						li.advant__elem 14 лет на рынке быстровозводимых зданий.
						li.advant__elem 570 успешно спроектированных и построенных объектов различного уровня сложности
						li.advant__elem Мы постоянно оптимизируем свою технологию, внедряя лучшие решения, представленные на рынке БМЗ
			.advantages__element
				.advant__img
					img(src='./assets/images/icon/Group2.svg')
				.advant__content
					p.advant__title НАШИ ВОЗМОЖНОСТИ:
					ul.advant__list
						li.advant__elem 2 специально оборудованных сборочных цеха в Киевской области
						li.advant__elem Команда из 45 специалистов за 15 дней превратит Вашу идею в полноценный дом, готовый к заселению
						li.advant__elem Мы строим здания до Зх этажей любых размеров в любое время года
			.advantages__element
				.advant__img
					img(src='./assets/images/icon/Group3.svg')
				.advant__content
					p.advant__title НАШИ ИЗДЕЛИЯ
					ul.advant__list
						li.advant__elem Расчетный срок службы наших зданий при правильной эксплуатации - более 50 лет
						li.advant__elem Уже в базовой комплектации вы получаете все необходимое - электрика, сантехника климатические системы
						li.advant__elem Обязательный контроль качества на всех этапах- от проекта до монтажа
			.advantages__element
				.advant__img
					img(src='./assets/images/icon/Group4.svg')
				.advant__content
					p.advant__title ГАРАНТИИ и СЕРВИС
					ul.advant__list
						li.advant__elem Работаем только по договору, от 12 месяцев гарантийного обслуживания на все здания
						li.advant__elem Доставляем и монтируем свои здания в любом регионе Украины
						li.advant__elem Бесплатно консультируем по вопросам планирования, строительства и дальнейшей эксплуатации
		.works
			.main__title.works__title Как мы работаем?
			.works__list
				.work.work1
					.work__head
						img(src='./assets/images/icon/handshake.svg').work__head--img
						span.work__head--text Знакомство, консультация
						.work__numb 1
					ul.work__list
						li.work__list--el Вы связываетесь с нами любым удобным для Вас способом, получаете предварительную консультацию
						li.work__list--el Формулируете техническое задание и отправляете его к нам на электронную почту
				.work.work2.num-left
					.work__head
						img(src='./assets/images/icon/word.svg').work__head--img
						span.work__head--text Коммерческое предложение
						.work__numb 2
					ul.work__list
						li.work__list--el Если проект типовой, то вносятся необходимые правки. Если нет, то разрабатывается индивидуальный проекте нуля.
						li.work__list--el Составляется коммерческое предложение с описанием сооружения, его комплектацией планировкой, ценой и сроком поставки.
						li.work__list--el После согласования мы приглашаем Вас в наш офис на Подоле
				.work.work3
					.work__head
						img(src='./assets/images/icon/circle.svg').work__head--img
						span.work__head--text Договор: подписание и предоплата
						.work__numb 3
					ul.work__list
						li.work__list--el Составляем и подписываем договор
						li.work__list--el Мы выставляем счет на предоплату (80%)
						li.work__list--el Вы вносите предоплату
				.work.work4.num-left
					.work__head
						img(src='./assets/images/icon/work.svg').work__head--img
						span.work__head--text Сборка и монтаж
						.work__numb 4
					ul.work__list
						li.work__list--el Закупка стройматериалов и оборудования
						li.work__list--el Сборка модулей на производстве
						li.work__list--el Транспортировка на участок заказчика
						li.work__list--el Монтаж
				.work.work5
					.work__head
						img(src='./assets/images/icon/end.svg').work__head--img
						span.work__head--text Завершение проекта
						.work__numb 5
					ul.work__list
						li.work__list--el Прием работ по договору и окончательная оплата
						li.work__list--el  Вы получаете ключи от готового дома, все документы и инструктаж
						li.work__list--el  Новоселье! :)
				.work__line(style={ 'grid-row-end':'9' })
				// grid-row-end  = .work5 + 4 || .work7 + 4 = 11


block footer
	footer.footer
		include ../includes/footer-top
		include ../includes/footer-middle
		include ../includes/footer-bottom

block header
	header.header
		include ../includes/header.pug

