extends ../layout/main
block variable

block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/index.js')
block content
    section.news
        h1.news__title Новости
        include includes/breadcrumb
        ul.news__list
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/news1.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/news1.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/news1.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/news1.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/news1.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/news1.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее
            li.news__element
                .news-element__img
                    img(src='./assets/images/news/san-block.jpg')
                .news-element__data 2019-08-15
                .news-element__title Модульные операторские (3шт) для солнечных электростанций
                .news-element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='/single-news.html').news-element__button.button-l Подробнее

        include includes/pagination

block footer
    footer.footer
        include ../includes/footer-top
        include ../includes/footer-middle
        include ../includes/footer-bottom

block header
    header.header
        include ../includes/header.pug