extends ../layout/main
block variable

block meta
    title= 'Home'
    meta(name='description', content='')
block head
    link(rel='stylesheet', href="./assets/styles/main.min.css")
block scripts
    script(src='./assets/scripts/index.js')
block content
    section.news
        h1.main__title.news__title Новости
        include breadcrumb
        ul.news__list
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/news1.jpg')
                    img(src='./assets/images/news/news1.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/news1.jpg')
                    img(src='./assets/images/news/news1.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/news1.jpg')
                    img(src='./assets/images/news/news1.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/news1.jpg')
                    img(src='./assets/images/news/news1.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/news1.jpg')
                    img(src='./assets/images/news/news1.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/news1.jpg')
                    img(src='./assets/images/news/news1.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее
            li.news__element
                .news__element__img
                    img(src='./assets/images/news/san-block.jpg')
                    img(src='./assets/images/news/san-block.jpg').news__element__img--blur
                .news__element__data 2019-08-15
                .news__element__title Модульные операторские (3шт) для солнечных электростанций
                .news__element__text Нами по заказу ТОВ «Солен енерджи», ТОВ «Широке солар парк» и ПП «Нацпрод» изготовлены и поставлены 3 модульные операторские для...
                a(href='#').news__element__button.button-l Подробнее

        .news__pagination
            // first
            .pagination__arrow.arrow__duble--left
            // prev
            a(href='#').pagination__arrow.pagination__arrow--left
            ul
                li
                    a(href='#') 1
                    a(href='#') 2
                    a(href='#') 3
            // next
            .pagination__arrow.pagination__arrow--right
            // last
            .pagination__arrow.arrow__duble--right


block footer
    footer.footer
        include ../includes/footer-top
        include ../includes/footer-middle
        include ../includes/footer-bottom

block header
    header.header
        include ../includes/header.pug