$default-font: "montserrat",
sans-serif;
$default-font2: "montserrat",
sans-serif;
$mc: #b6b3b0;
$mc2: #F85A00;
$mc3: #293044;
$mc4: #232A3A;

$bg-col-1: #F4F5F6;
$bg-col-2: #EBEDF0;
$bg-col-3: #E0E4E9;
$bg-col-4: #FBFBFB;

$textDark: #293044;
$textLight: #ffffff;
$grayBorder: rgb(174, 174, 174);
$gray: rgba(41,48,68,0.05);
$text: #757985;
$wc: #fff;
$bc: #000;
$bc2: #000;

$padding-wrap: 45px;
$padding-wrap--small: 20px;


