$default-font: "montserrat",
sans-serif;
$default-font2: "montserrat",
sans-serif;
$mc: #34B9E0;
$mc2: #F85A00;

$textDark: #293044;
$textLight: #ffffff;
$gray:rgb(135, 135, 151);
$text: #ffffff;
$wc: #fff;
$bc: #000;
$bc2: #000;
