$default-font: "montserrat",
sans-serif;
$default-font2: "montserrat",
sans-serif;
$mc: #34B9E0;
$mc2: #F85A00;
$mc3: #293044;

$textDark: #293044;
$textLight: #ffffff;
$grayBorder: rgb(174, 174, 174);
$gray: rgba(41,48,68,0.05);
$text: #757985;
$wc: #fff;
$bc: #000;
$bc2: #000;
