include ../includes/mixins.pug
block variable
-
    var menu = {

        about: {
            name: 'О компании',
            nested: {
                index: {
                    name: 'Главная',
                    href: '/',
                    top: false,
                    bottom: true
                },
                about: {
                    href: '#',
                    name: 'О компании',
                    top: true,
                    bottom: true
                },
                client: {
                    href: '#',
                    name: 'Наши клиенты',
                    top: true,
                    bottom: true
                }
            }
        },
        catalog: {
            name: 'Каталог',
            clas: 'col2',
            nested: {
                prefabricatedHouse: {
                    href: '#',
                    name: 'Сборные дома',
                    top: true,
                    bottom: true
                },
                moduleHouse: {
                    href: '#',
                    name: 'модульные дома',
                    top: true,
                    bottom: true
                },
                countryHouses: {
                    href: '#',
                    name: 'дачные дома',
                    top: true,
                    bottom: true
                },
                stalls: {
                    href: '#',
                    name: 'киоски и ларьки',
                    top: true,
                    bottom: true
                },
                tradePavilions: {
                    href: '#',
                    name: 'Торговые павильоны',
                    top: true,
                    bottom: true
                },
                modularBuildings: {
                    href: '#',
                    name: 'Модульные здания',
                    top: true,
                    bottom: true
                },
                modularOffices: {
                    href: '#',
                    name: 'Модульные офисы',
                    top: true,
                    bottom: true
                },
                hostelsHotels: {
                    href: '#',
                    name: 'Общежития и отели',
                    top: true,
                    bottom: true
                },
                blockContainer: {
                    href: '#',
                    name: 'Блок-контейнер/бытовка',
                    top: true,
                    bottom: true
                },
                household: {
                    href: '#',
                    name: 'Бытовые дачные',
                    top: true,
                    bottom: true
                },
                constructionBoxes: {
                    href: '#',
                    name: 'Строительные вагончики',
                    top: true,
                    bottom: true
                },
                protectionPosts: {
                    href: '#',
                    name: 'Блок-посты охраны',
                    top: true,
                    bottom: true
                },
                hangars: {
                    href: '#',
                    name: 'Ангары',
                    top: true,
                    bottom: true
                },
                sanitaryBlocks: {
                    href: '#',
                    name: 'Санитарные блоки',
                    top: true,
                    bottom: true
                }
            }
        },
        works: {
            name: 'Наши работы',
            href: '#',
            top: true,
            bottom: true
        },
        infoCenter: {
            name: 'Инфоцентр',
            nested: {
                technologies: {
                    href: '#',
                    name: 'Технологии',
                    top: true,
                    bottom: true
                },
                delivery: {
                    href: '#',
                    name: 'Доставка и монтаж',
                    top: true,
                    bottom: true
                },
                news: {
                    href: '#',
                    name: 'Новости',
                    top: true,
                    bottom: true
                },
                FAQ: {
                    href: '#',
                    name: 'чаво',
                    top: true,
                    bottom: true
                }
            }
        },
        contact: {
            name: 'контакты',
            href: '#',
            top: true,
            bottom: true
        }
    }
    var contact = {
        phone: {
            vodafone: {
                img: 'Vodafone',
                name: '(095)853-40-40',
                href: '(095)8534040'
            },
        lifecell: {
                img: 'Lifecell',
                name: '(063)853-40-40',
                href: '(063)8534040'
            },
        kievstar: {
            img: 'Kyivstar',
            name: '(098)853-40-40',
            href: '(098)8534040',
            message: {
                viber: true,
                telegram: true
            }
        },
        phone: {
                img: 'Phone',
                name: '(044)362-07-10',
                href: '(044)3620710'
            },

        },
        address: {
            mail: {
                img: 'mail',
                title: 'Email:',
                name: 'info@blockmodul.com.ua',
                href: 'info@blockmodul.com.ua'
            },
            address: {
                img: 'marker',
                title: 'Офис:',
                name: 'г. Киев, ул Ильинская 12'
            },
            timeOpen: {
                img: 'time',
                title: 'Пн-Пт:',
                name: '9:00-18:00 / Сб: 9:00-16:00'
            }
        }
    }
doctype html
html(lang="uk")
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
        meta(name='format-detection', content='telephone=no')
        meta(name='format-detection', content='date=no')
        meta(name='format-detection', content='address=no')
        meta(name='format-detection', content='email=no')
        meta(content='notranslate', name='google')
        //- Фавиконки (https://realfavicongenerator.net)
        //- link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
        //- link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
        //- link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
        //- link(rel='manifest', href='/img/favicon/site.webmanifest')
        //- link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
        //- meta(name='msapplication-TileColor', content='#5bbad5')
        //- meta(name='theme-color', content='#000')
        //- meta(name='msapplication-navbutton-color', content='#000')
        //- meta(name='apple-mobile-web-app-status-bar-style', content='#000')
        block meta
        block head

    body(class="")
        include ../includes/menu.pug
        include ../includes/loader.html
        include ../../assets/svg-sprite/sprite/symbol_sprite.php
        .page__inner
            .page__content
                block header
                block content
            .page__footer-wrapper
                block footer
        block scripts