.clients{
  @extend .padding-wrap;
  @extend .main;
  padding-top: 20px;
  padding-bottom: 60px;
  &__wrap{
    @extend .wrap1200;
  }
  &__title{
    @extend .main__title;
    text-align: center;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    @include to(767px) {
      margin: 0;
    }
  }
}
.client{
  @include flexCenter();
  width: calc(25% - 30px);
  height: 170px;
  margin: 15px;
  padding: 20px;
  background: $bg-col-1;
  @include to(1024px) {
    width: calc(33.33% - 30px);
    height: 170px;
  }
  @include to(767px) {
    width: calc(50% - 20px);
    height: 100px;
    margin: 10px;
  }
  img{
    display: inline-block;
    height: auto;
    width: auto;
    max-width: 90%;
    max-height: 65%;
  }
}