.footer-middle{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  @include to(767px){
    flex-direction: column;
  }
  & a:hover{
     color: $mc3;
  }
  &__line{
    display: inline-block;
    width: 1px;
    height: 80%;
    min-height: 200px;
    background: $grayBorder;
    margin: auto;
    @include to(767px){
      display: none;
    }
  }
  &__menu{
    @include to(767px){
      padding: 0;
      border: none;
    }
    &--title{
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 2em;
      color: $mc2;
    }
  }
  &__catalog{
    @include to(767px){
      width: 100%;
      order: 0;
    }
    @include to(560px){
      display: none;
    }
  }
  &__contact{
    display: flex;
    flex-direction: column;
    @include to(767px){
      padding: 0;
      border: none;
      width: 100%;
    }
  }
  .phone__list{
    order: 0;
    @include to(767px){
      display: flex;
    }
    &__tel{
      height: auto;
      padding: 0;
    }
    &--icon{
      height: 15px;
      width: 15px;
    }
  }
  &__icons{
    display: none;
    justify-content: center;
    width: 100vw;
    margin: 0 -20px;
    padding: 5px 10px;
    background: #D4D6DA;
    @include to(767px){
      display: flex;
    }
    a{
      @include flexCenter();
      margin: 0 15px;
    }
    svg{
      fill: $wc;
    }
  }
  a{
    font-size: 10px;
    line-height: 2.4;
    font-style: normal;
    font-weight: 500;
    color: $text;
    text-decoration: none;
  }
}
.footer-contact{
  &__tel{
    font-size: 10px;
    line-height: 2.4;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    color: $textDark;
    text-decoration: none;
    padding-left: 10px;
  }
}
.footer-menu{
  column-count: 2;
  padding: 10px 0;
  @include to(1024px){
    column-count: 1;
  }
  @include to(767px){
    column-count: 2;
    flex-wrap: wrap;
    width: 100%;
  }
  &__list{
    @include to(767px){
      display: flex;
    }
  }
}
.footer-catalog{
  column-count: 2;
  padding: 10px 0;
  @include to(767px){
    column-count: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  &__list{
    @include to(767px){
      display: flex;
      width: 50%;
    }
    @include to(560px){
      width: 100%;
    }
    &--item{
      @include to(560px){
        margin: 0 auto;
      }
    }
  }
}
.footer-middle__contact{
  .phone__list__tel a{
    color: $textDark;
  }
}
