.footer{
  padding:0 45px;
  background: $gray;
}
.footer-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  border-top: 1px solid $grayBorder;
  @include to(768px){
    flex-direction: column;
  }
  &__logo{
  }
  &__quote{
    display: flex;
    justify-content: flex-end;
    @include to(768px){
      justify-content: center;
      padding-top: 20px;
    }
  }
}

.quote{
  &__img{
    display: inline-block;
    height: 70px;
    width: 70px;
    flex-shrink: 0;
    border-radius: 50%;
    overflow: hidden;
  }
  &__content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    line-height: 1.8em;
    width: 70%;
    padding: 0 20px;
    @include to(768px){
      width: auto;
    }
  }
  &__text{
    text-align: right;
    font-style: italic;
    font-weight: 500;
  }
  &__author{
    font-weight: 600;
  }
}