.first-screen{
  display: grid;
  grid-template-areas: 'location sl messages'
                       'mail sl messages'
                       'mouse sl messages';
  grid-template-columns: 12% 76% 12%;
  grid-template-rows: 1fr 1fr 1.5fr;
  height: calc(100vh - 72px);
  width: 100%;
  padding: 40px 0;
  @include to(1024px){
    height: 100%;
    grid-template-columns: 10% 80% 10%;
  }
  &__link{
    background: $mc3;
    transition: background 0.2s linear;
    &:hover{
      background: $mc2;
    }
  }
  &__location{
    grid-area: location;
    @include flexCenter();
    &--img{
      max-width: none;
      max-height: none;
      height: auto;
      width: 13%;
    }
  }
  &__mail{
    grid-area: mail;
    @include flexCenter();
    &--img{
      max-width: none;
      max-height: none;
      height: auto;
      width: 13%;
    }
  }
  &__mouse{
    grid-area:mouse;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    @include to(768px){
      padding: 0;
    }
    &--text{
      display: inline-block;
      height: 1px;
      width: 1px;
      white-space: nowrap;
      line-height: 1px;
      margin-bottom: 30px;
      font-size: 1vw;
      transform: rotate(-90deg);
      @include to(1024px) {
        margin: 0;
      }
    }
    &--img{
      max-width: none;
      max-height: none;
      height: auto;
      width: 13%;
      @include to(1024px){
        width: 30%;
        height: 50%;
      }
    }
  }
  &__slider{
    grid-area:sl;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }
  &__messages{
    grid-area: messages;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--text{
      display: inline-block;
      white-space: nowrap;
      line-height: 1px;
      margin-bottom: 20px;
      padding: 50% 0;
      transform-origin: center;
      transform: rotate(-90deg);
      font-weight: 500;
      font-size: 9px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
    }
  }
  &__img{
    display: inline-block;
    max-height: 30px;
    max-width: 30px;
    height: auto;
    width: auto;
  }
}
.main__title{
  color: $textDark;
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  line-height: 1.3em;
  @include to(480px){
    font-size: 14px;
  }
}
.sl{
  display: inline-block;
  height: 100%;
  width: 100%;
  &__element{
    position: relative;
    display: inline-block;
    width: 100%;
    img{
      display: inline-block;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &--content{
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 60%;
    }
    &--text{
      font-weight: 500;
      font-size: 24px;
      line-height: 1.5em;
      padding: 0 0 10% 16%;
      background: #ffffff;
      @include to(1024px) {
        font-size: 2vw;
      }
    }
    &--title{
      padding: 13px 35px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.3em;
      background: $mc2;
      color: $wc;
      text-decoration: none;
      @include to(1024px) {
        font-size: 1.2vw;
      }
    }
  }
  &__buttons{
    display: flex;
    justify-content: flex-end;
  }
  &__button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background: $mc3;
    border: none;
    transition: background 0.2s linear;
    span{
      display: inline-block;
      height: 15px;
      width: 15px;
    }
    &:hover{
      background: $mc2;
    }
    @include to(768px) {
      height: 50px;
      width: 50px;
    }
    &--left{
      background: url('../images/icon/arrow-white.svg')no-repeat center;
    }
    &--right{
      background: url('../images/icon/arrow-white.svg')no-repeat center;
      transform: rotate(180deg);
    }
  }
}

.slick-track,.slick-list{
  height: 100%;
}

.make {
  width: 100%;
  padding: 0 45px 45px;
  @include to(480px) {
    padding: 0 0 30px;
  }
  &__title{
    margin-bottom: 40px;
  }
  &__gallery {
    display: grid;
    grid-template-areas: 'card-1 card-2 card-3 card-3' 'card-4 card-4 card-5 card-6' 'card-7 card-8 card-9 card-9';
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    //grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
    width: 100%;
    height: auto;
    padding: 0 0 45px;
    @include to(992px){
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
      'card-1 card-2 card-3'
      'card-4 card-5 card-6'
      'card-7 card-8 card-9';
    }
    @include to(768px){
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas:
              'card-1 card-2'
              'card-3 card-4'
              'card-5 card-6'
              'card-7 card-8'
              'card-9 card-9';
      padding: 0 0 45px;
    }
    @include to(480px){
      grid-template-columns: repeat(1, 1fr);
      grid-template-areas:
              'card-1''card-2'
              'card-3'
              'card-4'
              'card-5''card-6'
              'card-7''card-8'
              'card-9';
      padding: 0 25px 25px;
    }

  }
  &__button{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3em;
  }
}

.card{
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $wc;
  &__desc{
    font-weight: 500;
    font-size: 14px;
    line-height: 35px; // height block
    text-align: center;
    color: $textDark;
    border: 1px solid #C4C4C4;
    @include to(992px) {
      font-size: 10px;
      line-height: 25px;
    }
  }
  &__img{
    position: relative;
    width: 100%;
    height: 100%;
    //height: calc(100% - 40px);
    & > img{
      display: inline-block;
      height: 100%;
      object-fit: cover;
    }
  }
  &-1{
    grid-area: card-1;
    margin-top: auto;
    height: 38%;
    justify-content: flex-end;
    @include to(768px) {
      height: 100%;
    }
  }
  &-2{
    grid-area: card-2;
    margin-top: auto;
    height: 100%;
    justify-content: flex-end;
    @include to(992px) {
      height: 77%;
    }
    @include to(768px) {
      height: 100%;
    }
  }
  &-3{
    grid-area: card-3;
    margin-top: auto;
    height: 77%;
    justify-content: flex-end;
    @include to(992px) {
      height: 100%;
    }
  }
  &-4{
    grid-area: card-4;
    display: flex;
    height: 100%;
    width: 100%;
  }
  &-5{
    grid-area: card-5;
    display: flex;
    height: 100%;
    width: 100%;
  }
  &-6{
    grid-area: card-6;
    display: flex;
    height: 100%;
    width: 100%;
  }
  &-7{
    grid-area: card-7;
    justify-content: flex-start;
    height: 38%;
    @include to(768px) {
      height: 100%;
    }
  }
  &-8{
    grid-area: card-8;
    justify-content: flex-start;
    height: 100%;
  }
  &-9{
    grid-area: card-9;
    justify-content: flex-start;
    height: 77%;
    @include to(768px) {
      height: 100%;
      width: 50%;
      margin: 0 auto;
    }
  }

  &__hover{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
    background: $mc2;
    z-index: 105;
    opacity: 0;
    transition: all 0.2s ease-in;
    &--wrap{
      @include flexCenter();
      flex-direction: column;
      height: 100%;
      width: 100%;
      border: 1px solid #FCAD80;
    }
    &--logo{
      width: 40px;
      height: auto;
      max-height: 50%;
    }
    &--text{
      font-weight: 600;
      font-size: 9px;
      line-height: 2.8em;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.1em;
    }
  }
  &.hover{
    .card__hover{
      opacity: 1;
    }
  }
}

.advantages{
  display: flex;
  flex-wrap: wrap;
  background: $mc4 url('../images/main/house__bg.jpg')no-repeat center bottom /contain;
  color: $textLight;
  padding: 70px 45px 40%;
  @include to(480px) {
    padding: 70px 20px 30%;
  }
  &__title{
    width: 100%;
    color: #FFFFFF;
    margin-bottom: 60px;
  }
  &__element{
    display: flex;
    width: 50%;
    margin-bottom: 70px;
    @include to(769px){
      width: 100%;
    }
    @include to(480px){
      margin-bottom: 30px;
    }
  }
}
.advant{
  &__list{
    padding-left: 20px;
  }
  &__elem{
    font-weight: 600;
    font-size: 12px;
    line-height: 2em;
    list-style: disc;
    margin-bottom: 10px;
    @include to(480px) {
      font-size: 10px;
      line-height: 1.2em;
    }
  }
  &__img{
    @include flexCenter();
    height: 65px;
    width: 65px;
    flex-shrink: 0;
    background: $mc2;
    margin-right: 30px;
    @include to(480px) {
      margin-right: 10px;
      height: 40px;
      width: 40px;
    }
    img{
      max-height: 80%;
      max-width: 80%;
    }
  }
  &__title{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.3em;
    margin-bottom: 20px;
  }
}

.processes{
  padding: 60px 45px;
  background: url("../images/main/proces__bg.jpg")no-repeat center /cover;
  @include to(480px) {
    padding: 40px 20px;
  }
  &__title{
    color: $textLight;
    margin-bottom: 50px;
  }
  &__list{
    display: grid;
    grid-template-columns: calc(50% - 1px) 2px calc(50% - 1px);
    grid-template-rows: 65px auto 65px auto 65px auto 65px auto [pre-last] 65px auto ;
    @include to(769px){
      grid-template-rows: auto auto auto auto [pre-last]auto ;
      grid-template-columns: calc(100% - 32px) 2px 30px;
    }
  }
}
.process{
  position: relative;
  width: 100%;
  &__numb{
    @include flexCenter();
    height: 65px;
    width: 65px;
    background: $mc2;
    color: $textLight;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    flex-shrink: 0;
    margin: 0 -63px 0 auto;
    @include to(769px) {
      height: 45px;
      width: 45px;
      margin: 0 -22px 0 auto;
    }
  }
  &__head{
    display: flex;
    align-items: center;
    height: 65px;
    background: $wc;
    padding: 0 30px;
    @include to(769px) {
      height: 45px;
      padding: 0 0 0 30px;
    }
    &--text{
      font-weight: 600;
      font-size: 14px;
      line-height: 1.5em;
      color: $textDark;
      text-transform: uppercase;
      @include to(768px) {
        font-size: 10px;
      }
    }
    &--img{
      display: inline-block;
      width: auto;
      max-height: 80%;
      margin-right: 20px;
      @include to(769px) {
        margin: 0 20px 0 auto;
      }
    }
  }
  &__list{
    padding: 30px 10% 30px 20%;
    @include to(768px) {
      padding: 20px 5% 20px 10%;
    }
    &--el{
      font-weight: 500;
      font-size: 12px;
      line-height: 2em;
      list-style: disc;
      color: $textLight;
      margin-bottom: 20px;
      @include to(768px) {
        margin-bottom: 10px;
      }
    }
  }
  &__line{
    display: inline-block;
    height: 100%;
    width: 100%;
    background: $mc2;
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: pre-last;
    &__pre-last{
      grid-area: last;
    }
    @include to(789px) {
      grid-row-start: 1;
    }
  }
  &1{
    grid-row: 1/5;
    grid-column: 1;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &2{
    grid-row: 3/7;
    grid-column: 3;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &3{
    grid-row: 5/9;
    grid-column: 1;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &4{
    grid-row: 7/11;
    grid-column: 3;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &5{
    grid-row: 9/13;
    grid-column: 1;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &6{
    grid-row: 11/15;
    grid-column: 1;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &7{
    grid-row: 13/17;
    grid-column: 3;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
  &8{
    grid-row: 15/19;
    grid-column: 1;
    @include to(769px) {
      grid-column: 1;
      grid-row: auto/auto;
    }
  }
}
.num-left{
  .process__numb{
    order: -1;
    margin: 0 0 0 -63px;
    @include to(769px) {
      order: 0;
      margin: 0 -22px 0 0;
    }
  }
  .process__head--img{
    margin-left: auto;
  }
  .process__head--text{
    margin-right: auto;
  }
}

.stages{
  padding: 45px 45px 0;
  background: url("../images/main/line__bg.png")no-repeat center bottom / cover;
  @include to(480px) {
    padding: 30px 20px;
  }
  &__title{
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2em;
    margin-bottom: 45px;
    span{
      color: $mc2;
    }
  }
}
.stage{
  position: relative;
  padding: 20px 10%;
  border: 1px solid #D4D6DA;
  @include to(480px){
    padding: 10px;
  }
  &__wrap{
    display: grid;
    grid-template-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-auto-rows: auto;
    padding: 0 0 90px;
    @include to(992px){
      grid-template-columns: 1fr 30px 1fr;
    }
    @include to(480px){
      grid-template-columns: 1fr 10px 1fr;
    }
  }
  &__number{
    position: absolute;
    top: -18px;
    left: 7px;
    @include flexCenter();
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background: $mc2;
    color: $wc;
    font-weight: 500;
    font-size: 14px;
    line-height: 1em;
    box-shadow:0 0 0 7px rgba(248,90,0,0.5);
    @include to(480px){
      top: -10px;
      left: 5px;
      height: 20px;
      width: 20px;
      box-shadow:0 0 0 5px rgba(248,90,0,0.5);
    }
  }
  &__name{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.8em;
    text-align: center;
    color: $textDark;
    @include to(480px){
      font-size: 9px;
    }
  }
  &__time{
    font-weight: 600;
    font-size: 18px;
    line-height: 2em;
    text-align: center;
    color: $textDark;
    text-transform: uppercase;
  }
  &__line{
    &--hor{
      width: 30px;
      height: 1px;
      background: #D4D6DA;
      margin: auto;
      @include to(480px){
        width: 10px;
      }
    }
    &--vert{
      grid-column: 1/ span end;
      width: 1px;
      height: 30px;
      background: #D4D6DA;
      @include to(992px){
        grid-column: 1/ span 3;
      }
      @include to(480px){
        height: 10px;
      }
    }
  }
}
.line{
  &__hor--big{
    width: calc(100% - 60px);
    grid-column: 1/ span 7;
    @include to(992px){
      grid-column: 1/ span 3;
    }
  }
  &__vert1,&__vert3,&__vert5{
    margin: 0 30px 0 auto;
  }
  &__vert2,&__vert4,&__vert6{
    margin: 0 auto 0 30px;
  }
  &__hor2,&__hor4,&__hor6{
    @include to(992px){
      display: none;
    }
  }

}
.line__vert1,.line__hor--big1,.line__vert2,.line__vert5,.line__hor--big3,.line__vert6,.line-hor4{
   display: none;
  @include to(992px){
    display: inline-block;
  }
 }


.works{
  display: flex;
  flex-wrap: wrap;
  padding: 40px 30px 40%;
  background: url("../images/main/work__bg.jpg")no-repeat center bottom /cover;
  @include to(480px) {
    padding: 30px 20px 20%;
  }
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
    padding: 0 15px;
    @include to(480px) {
      padding: 0;
    }
  }
  &__title{
    width: auto;
  }
  &__description{
    width:60%;
    margin: 75px auto 0;
    font-weight: 500;
    color: $textDark;
    &--title{
      font-size: 24px;
      line-height: 1.5em;
      margin-bottom: 12px;
    }
    &--text{
      font-size: 14px;
      line-height: 1.8em;
      margin-bottom: 25px;
    }
    @include to(992px){
      width: 100%;
      margin: 35px auto 0;
    }
  }
  &__button{
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.3em;
  }
}
.work{
  width: calc(25% - 30px);
  margin: 0 15px;
  text-decoration: none;
  color: $textDark;
  &:hover{
    color: $mc2;
    text-decoration: underline;
  }
  @include to(768px){
    width: calc(50% - 10px);
    margin: 0 5px 20px;
  }
  &__text{
    position: relative;
    padding: 10px 0 0 18px;
    font-weight: 500;
    font-size: 12px;
    line-height: 2em;

    @include to(480px) {
      line-height: 1.5em;
    }
    &:before{
      content: '';
      position: absolute;
      top: 20px;
      left: 0;
      width: 10px;
      height: 0;
      border: 1px solid #F85A00;
    }
  }
  &__img{
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    &:before{
      content: '';
      position: absolute;
      bottom: 0;
      left:0;
      right:0;
      z-index: 10;
      height: 50%;
      background: linear-gradient(0, #293044 0%, rgba(41, 48, 68, 0) 100%);
    }
    img{
      display: inline-block;
      transition: transform 0.2s linear;
    }
    &:hover{
      img{
        transform: scale(1.1);
        z-index: 0;
      }
    }
  }
  &__data{
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-weight: 500;
    font-size: 10px;
    line-height: 2.4em;
    color: $textLight;
  }
}

.clients{
  display: inline-block;
  width: 100%;
  padding: 45px 11.6% 90px;
  @include to(480px) {
    padding: 25px 60px 40px;
  }
  &__title{
    margin-bottom: 45px;
    line-height: 1.5em;
  }
  &-slider{
    height: 60px;
    width: 100%;
    &__element{
      height: 100%;
      width: 20%;
      padding: 0 15px;
      img{
        margin: auto 0;
        display: inline-block;
        max-height: 100%;
        height: auto;
        width: auto;
        max-width: 100%;
        object-fit: contain;
      }
    }
    &__buttons{
      display: flex;
      justify-content: space-between;
      height: 0;
      width: 100%;
    }
    &__button{
      height: 50px;
      width: 50px;
      cursor: pointer;
      background: url(../images/icon/arrowDown.svg) no-repeat center/ 14px;
      &--left{
        transform: translate(-150%, -100%)rotate(90deg);
        @include to(480px) {
        transform: translate(-100%, -100%)rotate(90deg);
        }
      }
      &--right{
        transform: translate(150%, -100%)rotate(-90deg);
        @include to(480px) {
        transform: translate(100%, -100%)rotate(-90deg);
        }
      }
    }
  }
}
.main .clients-slider__element{
  @include flexCenter();
}
