.news{
  @extend .padding-wrap;
  padding-bottom: 40px;
  @extend .main;
  @extend .wrap1200;
  @include to(1024px){
    padding: 0 20px 40px;
  }
  @include to(767px){
    padding: 0 10px 20px;
  }
  &__title{
    @extend .main__title;
    padding: 10px;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }
  &__element{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 15px 30px;
    background: $wc;
    margin-bottom: 20px;
    color: $textDark;
    overflow: hidden;
    transition: all 0.3s linear;
    @include to(767px){
      width: 100%;
      padding: 0 15px 15px;
      margin-bottom: 10px;
    }
    &:hover{
      box-shadow: 0 40px 40px rgba(41, 48, 68, 0.25);
      z-index: 5;
      .news__element__img img{
        transform: scale(1.05);
      }
    }

  }
  &-element{
    &__data{
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
      line-height: 2.4em;
      margin: 7px 0 7px 35px;
      @include to(1024px) {
        margin: 7px 0 7px 20px;
      }
    }
    &__title{
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.4em;
      text-transform: uppercase;
      padding: 0 25px 0 35px;
      margin-bottom: 10px;
      &:after{
        content:'';
        position: absolute;
        top: 7px;
        left: 0;
        height: 1px;
        width: 10px;
        background: $mc2;
      }
      @include to(1024px) {
        padding: 0 10px 0 20px;
      }
    }
    &__text{
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.7em;
      color: #7D8795;
      margin-bottom: 15px;
      padding: 0 25px 0 35px;
      @include to(1024px) {
        padding: 0 10px 0 20px;
      }
    }
    &__img{
      position: relative;
      @include flexCenter();
      height: 100%;
      overflow: hidden;
      background: #eaeaea;
      img{
        height: 25vh;
        object-fit: cover;
        z-index: 5;
        transition: transform 0.2s linear;
      }
      &--blur{
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        filter: blur(10px)!important;
        object-fit: cover!important;
        height: 100%!important;
        z-index: 2!important;
      }
    }
    &__button{
      font-weight: 500;
      font-size: 14px;
      line-height: 1.7em;
      margin: 0 25px 0 auto;
      @include to(767px) {
        margin: 0 10px 0 auto;
      }
    }
  }
  &__pagination{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
}
