.works{
  @extend .padding-wrap;
  padding-bottom: 40px;
  transition: all 0.3s linear;
  @extend .main;
  &__title{
    @extend .main__title;
    padding: 10px;
  }
  &__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin: 0 -15px;
    transition: all 0.3s linear;
    @include to(767px){
      margin: 0;
    }
  }
  &__link{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: $textDark;
  }
  &__element{
    display: inline-block;
    width: 50%;
    padding: 0 15px 30px;
    background: $wc;
    margin-bottom: 20px;
    overflow: hidden;
    transition: all 0.3s linear;
    @include to(767px){
      width: 100%;
      padding: 0;
      margin-bottom: 10px;
    }
    &:hover{
      box-shadow: 0 40px 40px rgba(41, 48, 68, 0.25);
      z-index: 5;
      .works-element__img img{
        transform: scale(1.05);
      }
      .works__link{
        color: $mc2;
      }
      .works-element__title{
        text-decoration: underline;
      }
      .works-element__title:after{
        transform: rotate(-45deg);
      }
    }

  }
  &-element{
    &__data{
      font-style: italic;
      font-weight: normal;
      font-size: 10px;
      line-height: 2.4em;
      color: $textDark;
      margin: 7px 0 7px 0;
      @include to(767px) {
        margin: 3px 0 3px 20px;
      }
    }
    &__title{
      position: relative;
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.4em;
      text-transform: uppercase;
      padding: 0 25px 0 55px;
      margin-bottom: 10px;
      &:after{
        content: "";
        position: absolute;
        top: 6px;
        left: 0;
        height: 0;
        width: 30px;
        border: 1px solid $mc2;
        transition: all 0.2s linear;
        @include to(1024px) {
          width: 10px;
        }
      }
      @include to(1024px) {
        padding: 0 10px 0 20px;
      }
      @include to(767px) {
        font-size: 10px;
      }
    }
    &__img{
      position: relative;
      @include flexCenter();
      height: 100%;
      overflow: hidden;
      background: #eaeaea;
      img{
        height: 25vh;
        object-fit: cover;
        z-index: 5;
        transition: transform 0.2s linear;
      }
      &--blur{
        position: absolute;
        top:0;
        left: 0;
        display: flex;
        filter: blur(10px)!important;
        object-fit: cover!important;
        height: 100%!important;
        z-index: 2!important;
      }
    }

  }
  &__pagination{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
  }
  &__filters{
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 20px);
    height: auto;
    margin: 0 -10px 30px;
  }
  &-filter{
    &__remove{
      position: relative;
      display: none;
      height: 8px;
      width: 8px;
      margin-left: 5px;
      background: transparent;
      border: none;
      span{
        border: 1px solid #FCBD99;
      }
    }
    &__elem{
      display: flex;
      align-items: center;
      padding: 5px 15px;
      background: $bg-col-1;
      margin: 0 10px 10px;
      font-weight: 500;
      font-size: 10px;
      line-height: 2.4em;
      cursor: pointer;
      @include to(767px){
        font-size: 8px;
      }
      &.active{
       background: $mc2;
        color: $wc;
        .works-filter__remove{
          display: inline-block;
        }
      }
    }
  }
}
